* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
main {
    display: flex;
    justify-content: space-between;
}
section {
    width: 80%;
    padding: 10px;
}
section div {
    background-color: cornflowerblue;
    border-radius: 23px 23px 23px 0;
    margin: 3px 0;
    width: fit-content;
    padding: 16px 19px;
    color: white;
}
section div h2, section div p {
    margin: 10px;
    align-items: center;
    word-break: break-word;
}
.small {
    font-size: 12px;
    font-weight: bold;
}
.timestamp {
    margin: 0 5px;
    margin-bottom: 24px;
}
section div h2 {
    text-align: right;
}
aside {
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #444753;
    margin: 10px 0;
}
.ctnr {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#logout {
    height: 40px;
    background-color: #444753;
    color: white;
    border: none;
    border-radius: 10px;
    margin: auto 0;
}
#logout:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}
aside p , aside h1{
    width: 80%;
    color: white;
    margin: 20px auto;
    font-size: 20px;
}
.btn-ctnr {
    text-align: center;
}
#message {
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 80%;
}
#submit {
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
@media (max-width: 650px) {
    main {
        flex-direction: column;
    }
    aside , section{
        width: 100%;
        margin: 0;
    }
    section {
        padding: 0;
    }
    #message , #submit{
        width: 100%;
        margin: 0;
    }
}