/**** Arrière plan bleu sur la page ****/
body{
    background-color: steelblue;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
/**** Carte au centre de l'écran à l'arrivée sur le site ****/
section {
    width: 100%;
    max-width: 33.3%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    text-align: center;
}
/**** Boutons de redirection vers les pages d'inscription et de connexion ****/
a {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 50%;
    text-decoration: none;
}
/**** Survol des boutons de redirection vers les pages d'inscription et de connexion ****/
a:hover {
    background-color: steelblue;
}

/**** Responsive ****/
@media (max-width: 674px) {
    section {
        max-width: 80%;
    }
}