@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&family=Roboto:wght@700&display=swap');

/**** Arrière plan bleu sur la page ****/
body{
    background-color: steelblue;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
body p ,body label, body input, body a{
    font-family: "Quicksand";
}

body label, body input, body a {
    font-weight: bold;
}
body h1 {
    font-family: 'Roboto';
}
/* Formulaire de connexion */
form {
    width: 100%;
    max-width: 33.3%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
}

/* Champs Nom d'utilisateur et Mot de passe */
#user, #password {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Bouton de validation LOGIN */
#submit {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Survol du bouton de validation LOGIN */
#submit:hover {
    background-color: steelblue;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Message d'erreur */
.error {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
}

/* Responsive */
@media (max-width: 674px) {
    form {
        max-width: 80%;
    }
}